html {
    font-size: 1rem;
    overflow: hidden;
}

* {
    font-family: "Local Roboto";
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Local Roboto";
    src: url('../fonts/RobotoRegular.ttf');
}

body {
    background-color: #ee4540;
}

#bell {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 7px 12px;
    background-color: #c72c41;
    cursor: pointer;
    border-radius: 3px;
}

#bell>.fa-bell,
#bell>.fa-bell-slash {
    font-size: 1em;
    color: #801336;
}

.credits {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 0.6em;
    color: #801336;
    text-align: right;
}

/* -------------------------------- */
/* CONTAINER */
/* -------------------------------- */
.container {
    margin: 0 auto;
    width: 400px;
}

.container>div {
    margin: 0 auto 20px auto;
    width: 100%;
}

/* -------------------------------- */
/* HEADER */
/* -------------------------------- */
.header {
    text-align: center;
    text-transform: uppercase;
}

.header>#timer {
    color: #2d132c;
    font-size: 6em;
}

.header>#phase {
    color: #801336;
    font-family: "Roboto";
}

.header>span {
    font-size: 6em;
}

.header>h1 {
    margin: 0;
    padding: 0;
}

.header>h2 {
    margin-top: -15px;
    font-size: 1em;
}

/* -------------------------------- */
/* MAIN */
/* -------------------------------- */
.main>.row {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.main>.row>button {
    margin: 0 5px;
    padding: 5px 10px;

    background-color: #c72c41;
    color: #2d132c;

    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.main>.row>button.active {
    background-color: #511845;
    color: #D3D3D3;
}

.main>.row>button:active,
.main>.row>button:focus {
    outline: none;
    box-shadow: none;
}

/* -------------------------------- */
/* FOOTER */
/* -------------------------------- */
.table>.thead-dark>tr>th {
    color: #c72c41;
    border-top: 2px solid #801336;
    border-bottom: 2px solid #801336;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td {
    border-color: #801336;
}

.footer>.row {
    margin: 0 auto;
    width: fit-content;
}

.footer>.row>button {
    margin: 5px 15px;
    padding: 3px 0;
    background: none;
    outline: none;
    border: none;
    color: #2d132c;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 3px;
}

.footer>.row>button.active {
    border-bottom: 2px solid #c72c41;
}